<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <a routerLink="/pie" routerLinkActive="active">Pie Chart</a>
    </span>
    <span>
      <a routerLink="/line" routerLinkActive="active">Line Chart</a>
    </span>
    <span class="spacer"></span>
    <mat-form-field>
      <mat-label>
        Summarize by</mat-label>
      <mat-select [ngModel]="mode" (ngModelChange)="onModeChange($event)">
        <mat-option *ngFor="let item of modes; let i=index" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <div>
      <p>Category filters:&nbsp;
        <span *ngIf="categoryFilter.length==0">No category filters</span>
        <ng-container *ngIf="categoryFilter.length> 0">
          <span *ngFor="let filter of categoryFilter">{{filter}}</span>
        </ng-container>
      </p>
      <p>Time filters:&nbsp;<span *ngIf="timeRange.length == 0">No time filters</span>
        <span *ngIf="timeRange.length>0">from
          week N: {{timeRange[0]}} up to week N: {{timeRange[1]}}</span></p>
    </div>
    <span class="spacer"></span>
    <button mat-stroked-button color="accent" (click)="onRemoveFilters()">Reset all</button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>















<!-- <router-outlet></router-outlet> -->
